/* stylelint-disable selector-list-comma-newline-after */

body{
  margin: auto;
  padding: 0;
  background-color: #FFFFFF;
  background-postion: center;
}
h1{
  text-align: center;
  font-size: 33px;
  font-family: "BodoniFLF";
  color: #00918e;
  width: 100%;
}
hr{
  width:100%;
  text-align:center;
  margin-left:0
  color: ##00918e;
}
.topnav{
  width: 75%;
  padding: 10px 15px;
  position: absolute;
  text-align: center;
  font-size: 25px;
  font-family: "Lato";
  font-weight: bold;
  color: ##00918e;
  top: 15%;
  float: center;
  text-align: center;
  overflow: hidden;
}
.topnav a:hover{
  background-color:	#FFC425;
  font-family: "Lato";
  font-weight: bold;
  color: ##00918e;
  padding: 20px 20px;
  text-decoration: none;
}
.topnav a.active{
  background-color:	#FFC425;
  font-family: "Lato";
  font-weight: bold;
  color: ##00918e;
  padding: 10px 10px;
}

 h2, h3, h4, h5, h6 {
    font-family: "Harrington";
    color: #FFC425;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    font-family: "Lato";
    font-size: 120%;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #FFC425;
}

.rightdiv .button{

    width: 255px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;
  }

  .btn:hover{
    background-color: #FFC425;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #00918e; }
.border-bottom { border-bottom: 1px solid #03c0af; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
div
.centerdiv{
    text-align: center;
}
.rightdiv{
    text-align: right;
    font-family: "Harrington";
    font-weight: bold;
    font-size: 150%;
}
h4, h2, h1{
    font-family: "Harrington";
    color: #03c0af;

}
button{
    font-family:"Harrington";
}
.btn{
  width: 255px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 40px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: all 0.5s;
}

.btn:hover{
  background-color: #FFC425;
}
img.imgbanner{

    height: 150px;
    width: 100%;
}
